body{
    background-color: grey;
}
*{
    font-family: Arial;
    font-weight: bold;
}
button{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.selection_pane_div *{
    margin: 10%;
}
